/***********header**********
***************************/

header{

	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #EC6800;
	height: 60px;
	width: 100%;
	line-height: 30px;
	font-size: small;
	font-weight: bold;
}

header a{

	color: white;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

header a:hover{

	text-decoration: underline;
}

.menu{

	list-style: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

.menu li{

	display: inline-block;
	float: left;
	padding-left: 20px;
}

#connect{

	margin-left: 100px;
	border: 1px white solid;
	padding-right: 20px;
	border-radius: 5px;	
}

#connect:hover{

	background-color: white;
	color: #EC6800;
}

.lbc{

	width: 200px;
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/********Section*********
************************/

section{

	margin-top: 150px;
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}


#carte{

	float: left;
}

ul{

	list-style: none;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.regions{

	float: right;
}

.regions li{

	text-align: right;
}

.regions a{
	
	color: #336699;
	text-decoration: none;
}

.regions a:hover{

	color: #EC6800;
}

/**********FOOTER***********
****************************/

footer{

	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100px;
	background-color: #474747;
	width: 100%;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.contact{

	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.contact li{

	display: inline-block;
	padding-right: 40px;
	padding-top: 20px;
}

.contact a{

	text-decoration: none;
	color: white;
}

.contact a:hover{

	text-decoration: underline;
}


/*****************************max-width 1045px**********************************/


@media screen and (max-width: 1045px){

/***********header**********
***************************/

.menu{

	display: none;
}

.second-menu{

	margin-top: 10px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	border: 1px white solid;
	border-radius: 5px;	
	padding: 5 20 5 20px;
	background-color: white;
	color: #EC6800;
}

.second-menu:hover{

	background-color: #5140C1;
	border: 0;
}

.lbc{

	float: right;
}

.click{

	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

/**************Section**************
***********************************/
section{

	width: 300px;
	margin-left: auto;
	margin-right: auto
}

li{

	font-size: 1px
}

.regions{

	display: none;
	font-size: 0px;
}

.contact{
	display: none;
}

/*************Footer*************
********************************/

footer{

	background-color: white;
	height: 200px;
	width: 100%
}

.select{

	width: 100%;
}

.selectregion{

	display: block;
	float: left;
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
	height: 50px
}

}

@media screen and (min-width: 1045px){


.second-menu{

	display: none;
}

form{
	
	display: none;
}

}
