/***********header**********
***************************/

header{

	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #EC6800;
	height: 60px;
	width: 100%;
	line-height: 30px;
	font-size: small;
	font-weight: bold;
}

header a{

	color: white;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

header a:hover{

	text-decoration: underline;
}

.menu{

	list-style: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

.menu li{

	display: inline-block;
	float: left;
	padding-left: 20px;
}

#connect{

	margin-left: 100px;
	border: 1px white solid;
	padding-right: 20px;
	border-radius: 5px;	
}

#connect:hover{

	background-color: white;
	color: #EC6800;
}

.lbc{

	width: 200px;
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}